div {
    align-items: center;
    background-color:darkkhaki;
    width: var(--divWidth);
    height: var(--divHeight);
    margin: var(--divMargin);
    text-align: var(--textAlign);
    margin-bottom: 1%;
}