/* You can add global styles to this file, and also import other style files */
body {
    --primaryColor: #af9a7d;
    --divHeight: 100px;
    --divWidth: 90%;
    --divMargin: 0 auto;
    --textAlign: center;
    margin: 0;
}
